<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="css\timetable.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="js\courses.js"></script>
        <link rel="stylesheet" href="css\sus.css">
        <link rel="stylesheet" href="css\style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <title>Courses</title>
    </head>

<body>
    <div class="navigation">
        <a class="button" href="">
            <img
                src="https://i.pinimg.com/564x/25/31/39/253139ada044794c33ad3915a591fb1d.jpg">

            <div class="logout">LOGOUT</div>

        </a>

    </div>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <div id="mySidebar" class="sidebar" onmouseover="toggleSidebar()" onmouseout="toggleSidebar()">
        <a href="#"><i class="material-icons">schedule</i><span class="icon-text"></span>Timetable</span></a><br>
        <a href="#"><i class="material-icons">book</i><span class="icon-text"></span>Courses</span></a><br>
        <a href="#"><i class="material-icons">bookmark</i><span class="icon-text"></span>Attendance</span></a><br>
        <a href="#"><i class="material-icons">assignment</i><span class="icon-text"></span>Assignment<span></a>
    </div>
    <div id="main">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 text-sm-center" style="padding-left: 150px;">
                    <h1 class="heading-section" style="font-size: 40px">Courses Manger</h4>
                </div>
            </div>
    </div>
    <center>
        <div class="btn-group btn-group-toggle" data-toggle="buttons" >
            <label class="btn btn-success active" style="font-size: 20px;">
              <input type="radio" name="options" id="option1" autocomplete="off" checked> Completed
            </label>
            <label class="btn btn-primary" style="font-size: 20px;">
              <input type="radio" name="options" id="option2" autocomplete="off"> All courses
            </label>
            <label class="btn btn-info" style="font-size: 20px;">
              <input type="radio" name="options" id="option3" autocomplete="off"> Baskets
            </label>
            <label class="btn btn-danger" style="font-size: 20px;">
                <input type="radio" name="options" id="option3" autocomplete="off"> Minors
              </label>
          </div>
    </center>
</body>

</html>