<h1>Courses</h1>

<div>
    <a href="courses/completed" role="button">Completed courses</a>
</div>

<br>

<div>
    <a href="courses/list" role="button">All courses</a>
</div>

<div>
    <a href="courses/basket" role="button">Manage baskets</a>
</div>

<div>
    <a href="courses/minor" role="button">Manage minors</a>
</div>