<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="css/timetable.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="js/courses.js"></script>
  <link rel="stylesheet" href="css/sus.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <title>Home</title>
</head>

<body>
  <div class="navigation">
    <a class="button" href="logout">
      <img src="https://i.pinimg.com/564x/25/31/39/253139ada044794c33ad3915a591fb1d.jpg">

      <div class="logout">LOGOUT</div>

    </a>

  </div>



  <div class="main-container">
    <div class="heading" style="font-size: 30px;">
      <h1 class="heading__title">AIO - Monti</h1>
      <p class="heading__credits"><a class="heading__link" target="_blank">One app solution for academics at IIT
          Mandi</a></p>
    </div>
    <div class="cards">
      <a href="timetable">
        <div class="card card-1">
          <div class="card__icon"><i class="fas fa-bolt"></i></div>
          <p class="card__exit"><i class="fas fa-times"></i></p>
          <center>
            <h1 class="card__title">Time Table</h1>
          </center>
          <center>
            <h2 class="card__info">Customisable timetable which can be updated just by adding courses you have
              taken.</h2>
          </center>

        </div>
      </a>
      <a href="courses">
        <div class="card card-2">

          <div class="card__icon"><i class="fas fa-bolt"></i></div>
          <p class="card__exit"><i class="fas fa-times"></i></p>
          <center>
            <h1 class="card__title">Credits and Basket manager</h1>
          </center>
          <center>
            <h2 class="card__info">A complete tracker of your credits and Baskets of courses you wish to take.
            </h2>
          </center>

        </div>
      </a>
      <a href="attendance">
        <div class="card card-3">

          <div class="card__icon"><i class="fas fa-bolt"></i></div>
          <p class="card__exit"><i class="fas fa-times"></i></p>
          <center>
            <h1 class="card__title">Attendance</h1>
          </center>
          <center>
            <h2 class="card__info">Mark and Track your Attendance of all courses and analyze easily.</h2>
          </center>

        </div>
      </a>
      <a href="">
        <div class="card card-4">

          <div class="card__icon"><i class="fas fa-bolt"></i></div>
          <p class="card__exit"><i class="fas fa-times"></i></p>
          <center>
            <h1 class="card__title">Assignments</h1>
          </center>
          <center>
            <h2 class="card__info">Don't miss any deadlines of Assignments from now on !</h2>
          </center>

        </div>
      </a>
    </div>
  </div>
</body>

</html>